<button class='reload-btn'>reload</button>
<form id='outing-form'>
  <input name="Name" placeholder='Name' value>
  <input name="Places" placeholder='Places' value>
  <button>Add</button>
</form>
<div class='outings-render-section'></div>
